spring.application.name=ms-email
server.port=8080

sping.datasource.url=jdbc:mysql://localhost:3306/ms_email
spring.datasource.username=root
spring.datasource.password=
spring.jpa.hibernate.ddl-auto=update

aws.region=us-east-1
aws.accessKeyId=SUA_CHAVE
aws.secretKey=SUA-SECRET

spring.rabbitmq.addresses=
spring.rabbitmq.queue